/* 
    Document   : header
    Created on : 12-abr-2013, 11:44:25
    Author     : xavier.antolin
    Description:
        Purpose of the stylesheet follows.
*/

header{
    height:40px;
    background: grey;
    width: 100%;
    color: white;
}

header a{
    text-decoration: none;
    color: white;
}

header ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

header li{
    display: inline;
    cursor:pointer;
}

header .search{
    float:right;
}

header .menu{
    float:left;
}

#dropdown{
    width: 250px;
    display:none;
}

#dropdown ul{
    list-style-type:none;
    margin:0;
    padding:0;
}