/* 
    Document   : header
    Created on : 12-abr-2013, 11:44:25
    Author     : xavier.antolin
    Description:
        Purpose of the stylesheet follows.
*/

header{
    height:40px;
    background: black;
    width: 100%;
    color: white;
}

