/* 
    Document   : style
    Created on : 12-abr-2013, 11:59:56
    Author     : xavier.antolin
    Description:
        Purpose of the stylesheet follows.
*/

body{
    margin: 0;
    padding: 0;
    font-family:'Century Schoolbook';
    background-color:#e2e8ec;
}

h1{
    font-family:'Myriad Pro';
}

#wrapper{
    height: auto;
    min-height: 700px;
}

a{
    text-decoration: none;
    color: white;
}