/* 
	Proyect		: foodprise
    Document	: style.css
    Created on	: 04-may-2013
    Author		: Julio Perdiguer @
    			  Alex Pinto @ www.alexconcept.com
*/

body{
    margin: 0;
    padding: 0;
    font-family:'Century Schoolbook';
    background-color: white;
}

#content {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	background: #ebebed;
}

#food-prise {
	margin-bottom: 40px;
	padding-left: 22px;
}

#wrapper{
    height: auto;
    padding-top: 20px;
}

header {
	position: relative;
	width: 100%;
	height: 100%;
	background: #a8a6a6;
}

#boxes {
	height: 100%;
	width: 1000px;
	margin: 0 auto;
	background: white;
}

h1 {
    font-family:'Myriad Pro';
}

h2 a {
	margin-left: 55px;
	color: black;
}

a {
    text-decoration: none;
    color: white;
}

article p a {
	color: #a0a0a0;
	margin-top: 15px;
}

article p a:hover {
	color: black;
}

/*
MENU
*/

/* === Navegación Principal === */

nav {
	width: 1000px;
	height: 45px;
	margin: 0 auto;
	padding: 13px 0;
}

ul#menu {
	position: relative;
	float: left;
	height: auto;
	width: 710px;
	padding: 0;
	margin: 0px 0 0 20px;
}

ul#menu li {
	float: left;
	width: 91px;
	border-right: 1px solid #fff;
	border-left: 1px solid #000;
	font-size: 14px;
	font-family: 'Myriad Pro';
	text-align: center;
	color: white;
	pointer: cursor;
}

ul#menu li:hover {
		background: #deb80f;
		background: -moz-linear-gradient(top,  #deb80f 0%, #eaa814 64%, #f19b18 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#deb80f), color-stop(64%,#eaa814), color-stop(100%,#f19b18));
		background: -webkit-linear-gradient(top,  #deb80f 0%,#eaa814 64%,#f19b18 100%);
		background: -o-linear-gradient(top,  #deb80f 0%,#eaa814 64%,#f19b18 100%);
		background: -ms-linear-gradient(top,  #deb80f 0%,#eaa814 64%,#f19b18 100%);
		background: linear-gradient(to bottom,  #deb80f 0%,#eaa814 64%,#f19b18 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deb80f', endColorstr='#f19b18',GradientType=0 );
}

ul#menu li.end {
	width: 242px;
	border-right: none;
	padding: 8.2px 0;
}

ul#menu li a {
	display: block;
	padding: 12px 0;
}

ul#menu li a.double {
	display: inline-block;
	padding: 12px 0;
}

ul#menu li#root2 {
	position: relative;
	text-align: left;
	text-indent: 10px;
}

input.search {
	background: url(../img/sprites.png) no-repeat 0px -200px;
	width: 364px;
	height: 24px;
	border: none;
	text-indent: 35px;
	margin-left: 5px;
}

input.search:focus, input.search:active {
	outline: none;
}

#dropdown, #dropdown2{
    max-width: 240px;
    height: auto;
    margin: 0 auto;
    display:none;
    background:-webkit-gradient(linear, left top, left bottom, from(#4e4d50), to(#b3b3b3));
    background:-moz-linear-gradient(center top , #4e4d50, #b3b3b3) repeat scroll 0 0 #b3b3b3;
    padding: 30px 0px 0px 30px;
    position:absolute;
    left:425px;
    z-index: 9999;
    text-align: left;
}

#dropdown2{left: 770px;padding-right: 30px;
}

#dropdown ul, #dropdown2 ul{
    list-style-type:none;
    margin:0;
    padding:0;
    font-size: 12px;
}

#dropdown ul li {
	 float: left;
	 width: 110px;
	 display: block;
	 margin-right: 10px;
}

#dropdown .option, #dropdown2 .option{
    height: 55px;    
	font-family: 'Myriad Pro';
    text-align: left;
}

#dropdown .option a:hover, #dropdown2 .option a:hover {
	color: #f19b18;
}

/* === Menú Configuración === */

aside.menu-config {
	float: left;
	margin: 0 50px;
	background: white;
	padding: 20px 30px;
	font-family: 'Myriad Pro';
	color: black;
	font-size: 14px;
}

aside.menu-config ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

aside.menu-config ul li {
	margin: 5px 0;
}

aside.menu-config ul li a {
	color: gray;
}

aside.menu-config ul li a:hover, aside.menu-config ul li a:active, aside.menu-config ul li a:focus {
	color: black;
}

/*
FACT
*/

section.fact {
	display: inline-block;
	margin-left: 20px;
}

aside.fact {
	float: right;
	width: 215px;
	font-family: 'Myriad Pro';
	margin-right: 20px;
}

aside.fact h2 {
	font-size: 18px;
	margin: 0;
}

aside.fact p {
	font-size: 14px;
	line-height: 12px;
}

aside.fact p.cat-fact {
	margin: 2px 0;
	font-weight: bold;
}

/*
FORMS
*/

.add-form {
	width: 640px;
	background: #fff;
	padding: 40px;
	margin: 0 auto;
}

.add-form label {
	 font: 16px "Myriad Pro";
	 line-height: 50px;
}

.add-form input, form.add-form textarea, form.add-form select {
	margin-bottom: 15px;
}

.add-form input, form.add-form textarea, div.foodprise {
	max-width: 630px;
	min-width: 630px;
	padding: 5px;
	border: 1px solid #ffcc33;
}

.add-form input:focus, form.add-form select:focus, form.add-form input:active, form.add-form select:active, textarea:focus, textarea:active, div.foodprise:focus, div.foodprise:active {
	outline: none;
	box-shadow: 0 0 8px #ffcc33 !important;
}

.add-form input[type="submit"], div.foodprise {
	padding: 5px;
	border: 1px solid #ffcc33;
	background: #fff;
	font-size: 14px;
	text-transform: uppercase;
	color: black;
	min-width: auto !important;
	max-width: auto !important;
	cursor: pointer;
}

.add-form input[type="submit"]:hover, div.foodprise:hover {
	background: #ffcc33;
	color: white;
}

div.foodprise {
	display: inline;
}

.add-form.config {
	display: inline-block;
}

.add-form.config h2 {
	margin: 0 0 0;
}

.left-part {
	margin: -33px 0 20px 120px;
}

.add-form.config input, form.add-form.config textarea {
	max-width: 500px;
	min-width: 500px;
	padding: 5px;
	border: 1px solid #ffcc33;
	font-size: 14px;
}

.add-form.config select {
	font-size: 14px;
	max-width: 510px;
	min-width: 510px;
	height: 30px;
	border: 1px solid #ffcc33;
}

.add-form.add2 {
	width: 760px;
	padding: 0 20px;
	border: 1px solid #ffcc33;
	border-bottom: 1px dashed #ffcc33;
}

.add-form.add2 input, form.add-form.add2 textarea {
	max-width: 325px;
	min-width: 325px;
	padding: 5px;
	border: 1px solid #ffcc33;
	font-size: 14px;
}

.add-form.add2 textarea {
	float: left;
	border-top: none;
	margin: 1px 0 0 -21px;
	max-width: 790px;
	min-width: 790px;
	height: 70px;
	max-height: 70px;
}

.add-form.add2 textarea:focus, form.add-form.add2 textarea:active {
	box-shadow: none !important;
}

.add-form.add2 select {
	max-width: 338px;
	min-width: 338px;
	font-size: 14px;
	height: 30px;
	border: 1px solid #ffcc33;
}

.position {
	position: absolute;
	bottom: 30px;
	left: 24px;
}

/* === Estilos de Validacion === */
 
input:required:valid, textarea:required:valid {
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

input:focus:invalid, textarea:focus:invalid {
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

/*
POP UPS
*/

/* === Add 1 === */

.add1 {
	border: 25px solid #e2a200;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	text-align: center;
	background: #fff;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
}

.add1 p.title {
	font-size: 41px;
	color: #e2a200;
	line-height: 60px;
	margin: 30px 100px;
}

.add1 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.add1 ul li {
	display: inline-block;
}

.add1 li a {
	display: block;
	float: left;
	background-color: #fde8b3;
	color: #e2a200;
	font-size: 14px;
	text-align: center;
	margin-right: 30px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
}

.add1 li a:focus, .add1 li a:active {
	outline: none;
	border: none;
}

.add1 li a.orange {
	padding: 40px 20px;
}

.add1 li a.orange2 {
	padding: 40px 29px;
}

.add1 li a.grey {
	background: #d3d3d3;
	padding: 40px 33px;
	color: black;
	margin-right: 0;
}

.add1 p {
	font-size: 16px;
	color: #e2a200;
	margin: 0 105px;
}

/* === Add 2 === */
.title-add2 {
	font-size: 14px;
	text-indent: 5px;
}

.imgpart {
	float: left;
	width: 400px;
	height: 345px;
	margin-right: 20px;
	text-align: center;
	margin-top: 20px;
}

.rightpart {
	display: inline-block;
}

.photo-footer {
	font-size: 12px;
	display: block;
	color: gray;
}

a.return {
	font-size: 14px;
	color: #c5c3c3 !important;
	margin-left: 20px;
}

a.return:hover {
	color: black !important;
}

/*
FOOTER
*/

footer{
    background: #f5f5f5;
    position: absolute;
    height: auto;
    width: 1000px;
    font: 19px "Myriad Pro";
    padding-bottom: 40px;
}

#footer-container{
    margin: 30px auto;
    width: 960px;
}

footer #left{
    float:left;
    width:240px;
}

footer #center{
    float:left;
    width:240px;
}

footer #right{
    float:left;
    width:480px;
}

footer .title {
    text-transform:uppercase;
    font-size: 18px;
}

footer p {
	font-size: 14px;
	color: #838383;
}

input#footer-search, input#email-address {
	font-size: 14px;
	padding: 6px 5px 3px;
	border: 1px solid #bbb;
	line-height: 14px;
	
}

input#footer-search {
	background: url('../img/sprites.png') no-repeat 5px -167px;
	text-indent: 20px;
}

footer ul{
    list-style: none;
    padding: 0;
    font-size: 14px;
}

footer li {
	margin-right: 20px;
	padding: 10px 10px 10px 0;
	border-top: 1px solid #bbb;
}

footer li.footer-end {
	border-bottom: 1px solid #bbb;
}


/*
UTILITIES
*/

.float-left {float: left;}
.float-right {float: right;}
.font-italic {font-style: italic;}
.font-bold {font-weight: bold;}
.font-black {color: #000000;}

/*
ICONS
*/

.arrowslider, .facebook, .pinterest, .twitter, .user, .payment{ background: url(../img/sprites.png) no-repeat; }

a.twitter, a.pinterest, a.facebook {
	display: block;
	text-indent: -999px;
	float: left;
	margin-right: 10px;
	opacity: 0.3;
	overflow: hidden;
}

.user{
	background-position: 0 -98px ;
	width: 32px;
	height: 25px;
	position: absolute;
	top: 7px;
	right: 10px;
}

.arrowslider{
	background-position: -100px -100px ;
	width: 49px;
	height: 49px;
}

.facebook{
	background-position: -100px -50px ;
	width: 33px;
	height: 32px;
}

.facebook:hover{
	background-position: -100px 0;
	opacity: 1;
}

.pinterest{
	background-position: -50px -50px ;
	width: 32px;
	height: 32px;
}

.pinterest:hover{
	background-position: -50px 0;
	opacity: 1;
}

.twitter{
	background-position: 0 0;
	width: 33px;
	height: 33px;
}

.twitter:hover{
	background-position: 0 -50px ;
	opacity: 1;
}

.payment {
	background-position: 0 -250px ;
	width: 221px;
	height: 30px;
}

.up-arrow {
	background: url(../img/add1logo.jpg) no-repeat center top;
	width: 57px;
	height: 89px;
	display: block;
	margin: 30px auto 10px;
}

/*
BUTTONS
*/

button.sign {
	border: 1px solid #bbb;
	font: bold 12px "Myriad Pro";
	height: 28px;
	line-height: 23px;
	vertical-align: bottom;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		background: #ffffff;
		background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 18%, #cecece 99%, #cecece 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(18%,#f9f9f9), color-stop(99%,#cecece), color-stop(100%,#cecece));
		background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 18%,#cecece 99%,#cecece 100%);
		background: -o-linear-gradient(top,  #ffffff 0%,#f9f9f9 18%,#cecece 99%,#cecece 100%);
		background: -ms-linear-gradient(top,  #ffffff 0%,#f9f9f9 18%,#cecece 99%,#cecece 100%);
		background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 18%,#cecece 99%,#cecece 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cecece',GradientType=0 );
}

button.sign:hover {
		background: #cecece;
		background: -moz-linear-gradient(top,  #cecece 0%, #cecece 1%, #f9f9f9 82%, #ffffff 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(1%,#cecece), color-stop(82%,#f9f9f9), color-stop(100%,#ffffff));
		background: -webkit-linear-gradient(top,  #cecece 0%,#cecece 1%,#f9f9f9 82%,#ffffff 100%);
		background: -o-linear-gradient(top,  #cecece 0%,#cecece 1%,#f9f9f9 82%,#ffffff 100%);
		background: -ms-linear-gradient(top,  #cecece 0%,#cecece 1%,#f9f9f9 82%,#ffffff 100%);
		background: linear-gradient(to bottom,  #cecece 0%,#cecece 1%,#f9f9f9 82%,#ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff',GradientType=0 );
		
}

input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}